html {
    overflow: hidden;
}

.main-page {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 50px;
}

.parallax-section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.parallax-section::before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translateZ(-150px) scale(4);
    background: center/cover no-repeat;
}

.parallax-section_1::before {
    background-image: url(../img/img-1.jpg);
}

.parallax-section_2::before {
    background-image: url(../img/img-2.jpg);
}

.parallax-section_3::before {
    background-image: url(../img/img-3.jpg);
}