body {
    background-color: #000;
}

.container {
    background: url("../img/background.png");
    height: 768px;
    margin: 0 auto;
    width: 1366px;
}

.header {
    background: black;
    height: 55px;
    opacity: 41%;
    width: 100%;
}

.block  {
    background-color: white;
    border-radius: 10px;
    box-shadow: -1px 1px 12px black;
    height: 584px;
    margin: 65px auto;
    width: 444px;

}