body {
    font-family: Verdana, sans-serif;
    height: 100%;
    width: 100%;
    position: relative;
}

.container {
    background: url("../img/background.png") center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

/* HEADER */
.header {
    background: rgba(0, 0, 0, 0.41);
    box-sizing: border-box;
    height: 56px;
    padding: 15px 0;
    width: 100%;
}

.header-nav {
    margin: 0 auto;
    width: 85%;
}

.logo {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.2s;
}

.icon-calendar {
    background: url("../img/icons.png") -10px -60px no-repeat;
    height: 19px;
    width: 19px;
}

.icon-forum {
    background: url("../img/icons.png") -10px -0px no-repeat;
    height: 20px;
    width: 28px;
}

.icon-journey {
    background: url("../img/icons.png") -10px -30px no-repeat;
    height: 20px;
    width: 20px;
}

.header-menu {
    color: #fff;
    float: right;
    list-style-type: none;
    margin: 0;
}

.header-menu li {
    display: inline-block;
    padding: 0 10px;
    vertical-align: bottom;
}

.header-menu .last-menu-element {
    padding-right: 35px;
}

.header-menu .menu-info a {
    color: #3cb878;
    text-decoration: none;
}

.logo:hover {
    color: #3cb878;
}

.header-menu .menu-info a:hover {
    text-decoration: underline;
}

.icon-calendar:hover {
    background: url("../img/hover-icons.png") -10px -60px no-repeat;
    height: 19px;
    width: 19px;
}

.icon-forum:hover {
    background: url("../img/hover-icons.png") -10px -0px no-repeat;
    height: 20px;
    width: 28px;
}

.icon-journey:hover {
    background: url("../img/hover-icons.png") -10px -30px no-repeat;
    height: 20px;
    width: 20px;
}

/* MAIN CONTENT */
.block {
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    width: 30%;
    height: 80%;
    bottom: 45px;
    left: 35%;
}

.content {
    height: 90%;
    width: 75%;
    margin: 30px auto;
}

.content::before {
    background-color: #3CB878;
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    float: left;
    position: absolute;
    left: 0;

}

.block .sign-up {
    font-size: 20px;
    float: left;
}

.block .log-in {
    color: #3CB878;
    font-size: 14px;
    float: right;
    padding-top: 5px;
    text-decoration: none;
}

.block .log-in:hover {
    text-decoration: underline;
}

.block .button-wrapper {
    padding: 40px 0 0 0;
}

.block .button-wrapper span {
    float: right;
    font-size: 16px;
}

.block .button-wrapper .facebook-button {
    background-color: #305db8;
    box-sizing: border-box;
    border-radius: 3px;
    color: #fff;
    height: 50px;
    padding: 15px;
    float: left;
    text-decoration: none;
    transition: all 0.2s;
    width: 49%;
}

.block .button-wrapper .facebook-button:hover {
    background-color: #264b96;
}

.facebook {
    background: url("../img/form-icons.png") -10px -26px no-repeat;
    display: inline-block;
    width: 10px;
    height: 20px;
}

.block .button-wrapper .google-button {
    background-color: #df4a32;
    box-sizing: border-box;
    border-radius: 3px;
    color: #fff;
    height: 50px;
    padding: 15px;
    float: right;
    text-decoration: none;
    transition: all 0.2s;
    width: 49%;
}

.block .button-wrapper .google-button:hover {
    background-color: #c3412c;
}


.google {
    background: url("../img/form-icons.png") -10px -0px no-repeat;
    display: inline-block;
    width: 25px;
    height: 16px;
}

.block .line {
    background-color: rgba(191, 191, 191, 0.6);
    height: 1px;
    margin-top: 87px;
    position: relative;
    text-align: center;
    width: 100%;
}

.block .line span {
    background-color: #fff;
    bottom: -7px;
    color: #848484;
    display: inline-block;
    position: absolute;
    left: 150px;
    width: 50px;
}

/* FORM */
.form-wrapper {
    margin: 25px 0 0 0;
}

.form-wrapper form .registration {
    border: 1px solid rgba(191, 191, 191, 0.6);
    border-radius: 3px;
    box-sizing: border-box;
    margin: 0 0 9px 0;
    padding: 0 0 0 20px;
    height: 46px;
    width: 100%;
}

.form-wrapper button {
    background-color: #3cb878;
    border: 1px solid #3cb878;
    border-radius: 3px;
    color: #fff;
    height: 46px;
    width: 100%;
    transition: all 0.2s;
}

.form-wrapper button:hover {
    background-color: #329a65;
    cursor: pointer;
}

.form-wrapper form .registration:focus {
    box-shadow: 0 2px 6px grey;
    outline: none;
}

.terms {
    display: inline-block;
    margin: 16px 0 20px 0;
    font-size: 14px;
}

.terms a {
    color: #3CB878;
    text-decoration: none;
}

.terms a:hover {
    text-decoration: underline;
}
