.form {
  border: 3px solid rgb(60, 184, 120);
  height: 50%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  position: fixed;
  right: 0;
  top: 75px;
  margin: 20px;
}

.form h3 {
  margin: 0 0 5px 0;
  font-size: 18px;
  font-family: sans-serif;
}

.form input {
  width: 70%;
  border-radius: 5px;
  border: 3px solid rgb(60, 184, 120);
  height: 20px;
  margin: 5px;
}

.form button {
  width: 100px;
  height: 40px;
  background-color: rgb(60, 184, 120);
  color: white;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
}