html, body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-gap: 5px;
    grid-template-rows: 200px 50px auto 100px 200px;
}

.container > div {
    border: 1px solid #333a;
}