html, body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
}

.left {
    background-color: #937341;
    width: 30%;
    height: 500px;
    float: left;
}

.center {
    background-color: #FF9933;
    width: 40%;
    height: 500px;
    float: left;
}

.right {
    background-color: #16a085;
    width: 30%;
    height: 500px;
    float: right;
}