html, body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

/*Logo*/
.container .header .logo {
    display: inline-block;
    color: #000;
    font-size: 80px;
    font-weight: normal;
    margin: 61px 0 45px 0;
    text-decoration: none;
}


.container .header span {
    color: #4bcaff;
}

/*Menu*/
.container .header .menu {
    background-color: #35444f;
    box-sizing: border-box;
    height: 70px;
    margin: 0 0 51px 0;
    text-align: center;
}

.container .header .menu ul {
    font-size: 24px;
    margin: 0;
    padding: 20px;
}

.container .header .menu ul li {
    display: inline-block;
    text-decoration: none;
}

.container .header .menu ul li a {
    color: white;
    text-decoration: none;
    padding: 0 35px 0 35px;
}

/* Main content */
.main {
    height: 885px;
    width: 100%;
}

.main .main-article, .main-aside {
    box-sizing: border-box;
    border: 1px solid black;
    display: inline-block;
}

.main-aside {
    width: 340px;
}

.main-article {
    height: 530px;
    float: right;
    width: 885px;
}

.main .main-aside ul {
    line-height: 3;
}

.main .main-aside ul li {
    list-style-type: none

}

.main .main-aside ul li a {
    color: #485863;
    font-size: 27px;
    text-decoration: none;
}

.main .main-article img {
    display: block;
    height: 381px;
    margin: auto;
    padding: 75px;
    width: 320px;
}

.main .main-article p {
    color: #2c2c2c;
    font-size: 18px;
    line-height: 1.3;
}

.main .main-article .content {
    margin: 50px 0 0 0;
}

/* Footer */
.footer {
    background-color: #b4b7ba;
    height: 70px;
    margin-bottom: 30px;
}

.footer .footer-menu {
    padding: 20px;
}

.footer .footer-menu a {
    color: #0c1927;
    font-size: 26px;
    text-decoration: none;
    padding: 10px;
}

.footer .footer-menu span {
    color: #0c1927;
    font-size: 23px;
    float: right;
}






