body {
    background-color: darkseagreen;
}

p::selection {
    background-color: #937341;
    color: #1439E7;
}

/*!*.container {*!*/
/*!*    width: 500px;*!*/
/*!*    height: 500px;*!*/
/*!*    background-color: red;*!*/
/*!*    transition: background-color 1s, border 1s;*!*/
/*!*    margin: 0 auto;*!*/
/*!*}*!*/

/*!*.container .button {*!*/
/*!*    width: 100px;*!*/
/*!*    background-color: green;*!*/
/*!*}*!*/

/*!*.container:hover {*!*/
/*!*    background-color: orange;*!*/
/*!*    border: 3px solid yellow;*!*/
/*}*/


