body {
    background-color: black;
    font-family: Verdana, sans-serif;
    width: 100%;
}

@keyframes RunningText {
    from {
        bottom: -500px;
    }

    to  {
        bottom: 2100px;
    }
}

.div1 {
    background-color: black;
    box-sizing: border-box;
    position: relative;
    height: 100vh;
    width: 100%;
    perspective: 230px;
    overflow: hidden;
}

.div2 {
    box-sizing: border-box;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(25deg);
    width: 800px;
    margin: 0 auto;
}

.div2 .main-text, p {
    animation-name: RunningText;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    color: yellow;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    padding-top: 50px;
    position: relative;
    bottom: -500px;
}

.div2 .text-center {
    text-align: center;
}

