body {
    font-family: sans-serif;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

h1 {
    color: #1c2a33;
    text-align: center;
}

.table-wrapper {
    display: flex;
    justify-content: center;
}

.score {
    display: flex;
    justify-content: center;
}

.score li {
    list-style-type: none;
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

#fieldContainer {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
}

.buttons-container {
    display: flex;
    justify-content: center;
}

.default-cell {
    height: 50px;
    border: 1px solid #3a4965;
    box-sizing: border-box;
    margin-top: -1px;
    margin-left: -1px;
    width: 50px;
}

.blue-cell {
    background-color: #1439E7;
}

.green-cell {
    background-color: #329D27;
}

.red-cell {
    background-color: red;
}

button {
    height: 40px;
    width: 100px;
    border: 2px solid black;
    margin: 10px;
    border-radius: 50px;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    font-size: 18px;
    color: #ffffff;
    font-family: sans-serif;
}