html, body {
    font-family: sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    border: 1px solid #497ddd;
    padding: 5px;
    justify-content: space-between;
    height: 300px;
    align-items: flex-end;

}

.flex-item {
    border: 1px dashed #FF9933;
    width: 200px;
}



