body {
    font-family: 'Arimo', sans-serif;
}

.container {
    background-color: #3a4965;
    box-sizing: border-box;
    height: 730px;
    margin: 0 auto;
    padding: 24px 22px;
    width: 1192px;
}

.table {
    background-color: #fafafa;
    border-collapse: collapse;
    height: 100%;
    width: 100%;
}

.table td {
    box-sizing: border-box;
    border: 1px solid lightgrey;
    width: 310px;
}

.first-line .first-line-column .first-text {
    color: #484848;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 75px;
    left: 270px;
}

.first-line .first-line-column .second-text {
    color: #484848;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    left: 230px;
}

.second-column {
    color: #484848;
    text-transform: uppercase;
    height: 70px;
    text-align: center;
    width: 277px;
}

.standard {
    background-color: #89c331;
    text-align: center;
}

.standard span {
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
}

.ultimate {
    background-color: #f04a56;
    text-align: center;
}

.ultimate span {
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
}

.premium {
    background-color: #20807c;
    text-align: center;
}

.premium span {
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
}

.first-column {
    text-align: center;
}

.first-column span {
    color: #484848;
    font-size: 16px;
    text-transform: uppercase;
    padding-left: 12px;
}

.first-column i {
    color: #848484;
    font-size: 24px;
}

.contact-us {
    background-color: #484848;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0 -7px rgba(64,64,64,0.5);
    color: #fff;
    height: 49px;
    margin: 32px 59px;
    text-transform: uppercase;
    font-weight: bold;
    width: 192px;
    transition: all 0.2s;
}

.contact-us:hover {
    background-color: #fff;
    border: 1.5px solid green;
    color: black;
    cursor: pointer;
    box-shadow: none;
    font-size: 17px;
}

.contact-us:focus {
    outline: none;
}

.buy-now-green {
    background-color: #89c331;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0 -7px rgba(121, 176, 39,0.5);
    color: #fff;
    height: 49px;
    margin: 30px 43px;
    text-transform: uppercase;
    font-weight: bold;
    width: 192px;
    transition: all 0.2s;
}

.buy-now-red {
    background-color: #f04a56;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0 -7px rgba(223, 58, 70,0.5);
    color: #fff;
    height: 49px;
    margin: 30px 43px;
    text-transform: uppercase;
    font-weight: bold;
    width: 192px;
    transition: all 0.2s;
}

.buy-now {
    background-color: #20807c;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0 -7px rgba(22, 115, 111,0.5);
    color: #fff;
    height: 49px;
    margin: 30px 43px;
    text-transform: uppercase;
    font-weight: bold;
    width: 192px;
    transition: all 0.2s;
}

.column {
    text-align: center;
}

.column div .text-1 {
    color: #484848;
    font-size: 60px;
    font-weight: bold;
}

.column div .text-2 {
    color: #484848;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 107px;
}

.column div .text-3 {
    color: #484848;
    font-size: 18px;
    text-transform: uppercase;
}

.child:nth-child(2n) {
    background-color: #e3e3e3;
}

.child {
    background-color: #f2f2f2;
}

.buy-now-green:hover {
    background-color: #fff;
    border: 1.5px solid green;
    color: black;
    cursor: pointer;
    box-shadow: none;
    font-size: 17px;
}

.buy-now-red:hover {
    background-color: #fff;
    border: 1.5px solid green;
    color: black;
    cursor: pointer;
    box-shadow: none;
    font-size: 17px;
}

.buy-now:hover {
    background-color: #fff;
    border: 1.5px solid green;
    color: black;
    cursor: pointer;
    box-shadow: none;
    font-size: 17px;
}