html, body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

.header {
    background-color: #16a085;
    color: #fff;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nav {
    background-color: #000000;
    color: #fff;
    padding: 15px;
    width: 100%;
}

.nav a {
    text-decoration: none;
    color: #fff;
}