body {
    background-color: #000;
    font-family: Verdana, sans-serif;
}

.main {
    background: url("../img/background.png") no-repeat;
    box-sizing: border-box;
    height: 768px;
    margin: 0 auto;
    padding-top: 50px;
    width: 1366px;
}

.container {
    margin: 0 auto;
    width: 1064px;
}

/* Header */
.header {
    padding-bottom: 50px;
}

.header-info {
    width: 100%;
}

.header-info .logo {
    text-decoration: none;
}

.header-info .logo .text-1 {
    color: #fff;
    position: absolute;
    top: 46px;
    font-size: 29px;
    font-weight: bold;
}

.header-info .logo .text-2 {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.contacts {
    color: #fff;
    font-size: 18px;
    float: right;
}

.contacts .e-mail, .mobile {
    margin: 5px 0 0 0;
}

.contacts .mobile {
    float: right;
}

/* Main content */
.content {
    box-sizing: border-box;
    height: 590px;
}

.content .card {
    position: relative;
    width: 307px;
    text-align: center;
    float: left;
}

.content .card a {
    text-decoration: none;
}

.content .card-text {
    color: #fff;
    font-size: 18px;
}

.content .card-1, .card-2, .card-4, .card-5 {
    margin-right: 70px;
}

.content .card-1, .card-2, .card-3 {
    margin-bottom: 50px;
}

.image_message {
    position:absolute;
    left: 0;
    bottom: 59px;
    right: -1px;
    padding: 0 25px 0 25px;
    opacity: 0;
    background: #f26522;
    transition: all 0.1s;
}

.card:hover .image_message {
    opacity: 1;
}

.card:hover .card-text {
    color: #f26522;
}

.message-left {
    float: left;
}

.message-left-1 {
    font-size: 10px;
    color: #fff;
    margin: 15px 0 0 0;
    float: left;
}

.message-left-2 {
    font-size: 20px;
    color: #fff;
    margin: 0 0 15px 0;
}

.message-right {
    float: right;
    font-size: 14px;
    color: #fff;
    margin-top: 31px;
}

.message-right::after {
    content: url("../img/arrow.png");
    margin-left: 10px;
}

/* Footer */
.copyright {
    color: #fff;
    font-size: 12px;
}

.footer {
    clear: both;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
