* {
    transition: all 0.2s;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #000;
}

/* Navigation */
.menu-item {
    display: inline-block;
    padding: 50px;
    position: relative;
    bottom: 30px;
}

.nav-link {
    text-transform: uppercase;
    color: #16a085;
    font-size: 18px;
    text-decoration: none;
}

.nav {
    width: 800px;
    height: 73px;
    margin: 0 auto;
}

/* Main part */
.sect-1 {
    width: 100%;
    height: 800px;
    background: url("../img/background-img.png") no-repeat;
    background-size: cover;
    margin: 0 auto;
}

.sect-2 {
    margin-top: 0;
    background-color: #f5f6f7;
    padding-top: 15px;
    height: 650px;
}

.main-paragraph {
    color: #373737;
    font-size: 18px;
    line-height: 1.7;
    width: 1200px;
    height: 354px;
    text-align: center;
    margin: 0 auto;
}

.main-text {
    font-size: 25px;
    text-align: center;
    color: #373737;
    text-transform: uppercase;
}

/* Bottom */
.button {
    width: 190px;
    height: 50px;
    background-color: #16a085;
    text-align: center;
    padding-top: 25px;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 35px;
}

.button-link {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}

/* Footer */
.footer {
    height: 108px;
}

.copyright {
    color: #373737;
    font-size: 18px;
    float: right;
    padding-right: 150px;
    padding-top: 26px;
}

/*Color Theme*/
#btn {
    border: blueviolet;
    border-radius: 5px;
    background-color: #1439E7;
    color: #fff;
    font-size: 17px;
    left: 150px;
    top: 28px;
    position: absolute;
    height: 30px;
    width: 125px;
}

#btn:hover {
    cursor: pointer;
}

