html, body {

}

.container {
    background-color: #000000;
    box-sizing: border-box;
    height: 305px;
    margin: 0 auto;
    width: 500px;
    padding: 100px;
}

.battery {
    background-color: silver;
    height: 80px;
    margin: 0 auto;
    width: 190px;
}

.battery:after {
    background-color: orangered;
    content: "";
    display: inline-block;
    height: 80px;
    width: 70px;
}

.battery:before {
    float: right;
    background-color: black;
    content: "";
    display: inline-block;
    width: 10px;
    height: 15px;
    border: 1px solid red;
}