body {
    background-color: #0c1927;
    font-family: Verdana, sans-serif;
    font-size: 18px;
}

ul {
    list-style: none;
    padding-left: 0;
}

.centered-content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs {
    display: flex;
    margin: 0;
}

.tabs-title {
    padding: 20px;
    background-color: #23201D;
    color: #937341;
    cursor: pointer;
}

.active {
    background-color:#937341 ;
    color: #23201D;
}

/* //////////////////////////////////////////////////// */

.tab-body {
    background-color:#937341 ;
    color: black;
    height: 80px;
    border-radius: 3px;
    padding: 20px;
    display: none;
}