body, html {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    position: relative;
}

.bg-image-1 {
    background: url("../img/header-bg.jpeg") no-repeat fixed;
    background-size: cover;
}

.bg-image-2 {
    background: url("../img/parallax-bg.jpeg") no-repeat fixed;
    background-size: cover;
    height: 600px;
}

.nav {
    align-items: center;
    background-color: #303030;
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 100%;
}

.logo {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    text-decoration: none;
}

.logo span {
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
    padding-left: 6px;
}


.img-wrapper {
    background-color: #1A1D20;
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
    height: 70px;
    width: 80px;
}

.header-menu {
    box-sizing: border-box;
}

.header-menu a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    padding-right: 37px;
    transition: all 0.1s;
}

.header-menu a:hover {
    color: #14b9d5;
}

.the-latest-news {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
}

.the-latest-news span {
    color: #ffffff;
    font-size: 27px;
    padding-bottom: 44px;
}

.the-latest-news .button {
    border: none;
    border-radius: 3px;
    color: #ffffff;
    padding: 19px;
    margin: 0 10px;
    font-size: 18px;
    height: 55px;
    width: 170px;
}

.the-latest-news .button:hover {
    transition: all 0.2s;
    cursor: pointer;
}

.the-latest-news .subscribe {
    background-color: #89ca62;
}

.the-latest-news .subscribe:hover {
    background-color: #329D27;
}

.the-latest-news .articles {
    background-color: #14b9d5;
}

.the-latest-news .articles:hover {
    background: #4671D5;
}

.most-popular-posts {
    box-sizing: border-box;
    background-color: #f2f2f2;
    width: 100%;
}

.most-popular-posts span {
    display: flex;
    justify-content: center;
    color: #18b4cf;
    padding: 43px 0 52px 0;
    font-size: 27px;
    font-weight: bold;
    text-transform: uppercase;
}

.container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    margin: 0 auto;
    width: 1170px;
}

.most-popular-posts .container .post {
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 3px;
    margin: 10px;
    width: 370px;
}

.most-popular-posts .container .post:hover {
    cursor: pointer;
}

.most-popular-posts .container .post span {
    color: #353a3d;
    padding: 20px 0;
    font-size: 18px;
    font-weight: bold;
}

.post-1 {
    height: 320px;
}

.post-2 {
    height: 441px;
}

.post-3 {
    height: 355px;
}

.post-4 {
    height: 321px;
    position: relative;
    top: -115px;
    left: 0;
}

.post-5 {
    height: 309px;
}

.post-6 {
    height: 441px;
    position: relative;
    top: -80px;
    left: 0;
}

.our-most-popular-clients {
    align-items: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2vw;
    justify-items: center;
    padding-top: 70px;

}

.grid-item-1 {
    grid-column: 1 / 5;
}

.grid-item-2 {
    grid-column: 1 / 5;
}


.our-most-popular-clients span {
    font-size: 32px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}

.our-most-popular-clients .line {
    background-color: #169cb4;
    height: 3px;
    width: 60px;
}

.top-rated {
    background-color: white;
    text-align: center;
    height: 325px;
    overflow: hidden;
}

.grid-container {
    display: grid;
    grid-template-columns: 271px 271px 271px 271px 271px 271px 271px;
    grid-template-rows: auto auto;
}

.top-rated span {
    color: #18b4cf;
    display: inline-block;
    font-size: 27px;
    font-weight: bold;
    padding: 52px 0;
    text-transform: uppercase;
}

.hot-news {
    box-sizing: border-box;
    text-align: center;
    height: 1683px;
}

.hot-news span {
    color: #18b4cf;
    display: inline-block;
    font-size: 27px;
    font-weight: bold;
    padding-bottom: 50px;
    text-transform: uppercase;
}

.grid-container-2 {
    position: relative;
    box-sizing: border-box;
    width: 1170px;
    margin: 0 auto;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr repeat(2, 2fr) 1fr;
    grid-gap: 42px;
    justify-items: start;
}

.grid-item {
    background-color: #f9f7f7;
}

.first-item {
    grid-area: 1/1/2/4;
}

.third-item {
    grid-area: 2/1/3/3;
}

.four-item {
    grid-area: 2/3/3/5;
}

.five-item {
    grid-area: 3/1/4/3;
}

.six-item {
    grid-area: 3/3/4/5;
}

.eight-item {
    grid-area: 4/2/5/5;
}

.hot-news .grid-container-2 h3 {
    font-size: 18px;
    font-weight: bold;
    color: #353a3d;
}

.hot-news .grid-container-2 span {
    font-size: 14px;
    font-weight: normal;
    color: #5b6469;
    text-transform: none;
}

.small-item {
    height: 277px;
}

.first-item {
    text-align: left;
    height: 259px;
    width: 859px;
}

.first-item .text-wrapper {
    width: 320px;
    position: relative;
    text-align: right;
    bottom: 250px;
    left: 500px;
}

.eight-item {
    text-align: right;
    height: 259px;
    width: 859px;
}

.eight-item .text-wrapper {
    position: relative;
    bottom: 230px;
    left: 20px;
    width: 320px;
}

.third-item, .four-item, .five-item, .six-item {
    height: 418px;
    text-align: right;
    position: relative;
}

.footer {
    background-color: #1d2124;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-content: center;
    grid-gap: 560px;
    height: 125px;
    width: 100%;
}

.footer span {
    font-size: 13px;
    font-weight: normal;
    color: #ffffff;
}

.footer .footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#back-top {
    outline: none;
    background-color: #ffffff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    border: 2px solid black;
    bottom: 40px;
    padding: 0;
    left: 60%;
    margin-left: 500px;
    z-index: 99991;
}

#up {
    color: white;
    display: flex;
    padding-top: 13px;
    text-decoration: none;
    transition: all linear 0.2s;
    text-align: center;

}

#back-top:hover {
    cursor: pointer;
    background: grey;
    transition: all linear 0.2s;
    color: #fff;
}