body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hamburger {
    display: inline-block;
    --thickness: 3px;
    border: none;
    background-color: transparent;
    padding: 0 5px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.hamburger span,
.hamburger span::after,
.hamburger span::before {
    display: inline-block;
    width: 30px;
    height: var(--thickness);
    background-color: #000000;
}

.hamburger span::after,
.hamburger span::before {
    content: '';
    position: absolute;
    left: 0;
}

.hamburger span::after {
    bottom: -8px;
}

.hamburger span::before {
    top: -8px;
}

.hamburger span {
    position: relative;
    vertical-align: middle;
}

.nav {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #f2f2f2;
    border-right: 1px solid #5b6469;
    box-shadow: 3px 0 5px #3a4965;
    padding: 10px;
}