body {
    font-family: sans-serif;
}

button {
    outline: none;
    border: 2px solid #305db8;
    border-radius: 15px;
    width: 70px;
    height: 27px;
    color: white;
    font-weight: 700;
    background: #4671D5;
    cursor: pointer;
    transition: all 0.2s;
}

button:hover {
    background: #1439E7;
}

.post {
    width: 365px;
    margin: 40px;
    border: 2px solid #305db8;
    background: cyan;
    padding: 17px;
    border-radius: 4px;
}

.change-modal {
    display: flex;
    flex-direction: column;
    background: cyan;
    border: 1px solid grey;
    box-shadow: 0 0 30px darkcyan;
    box-sizing: border-box;
    position: fixed;
    top: 20vh;
    left: 50%;
    margin-left: -20vw;
    padding: 2vw;
    width: 40vw;
}