.card {
  display: flex;
  box-sizing: border-box;
  border: 3px solid rgb(60, 184, 120);
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
  width: 310px;
  height: 490px;
  box-shadow: 0 0 20px grey;
  margin: 30px;
  padding: 20px;

  p {
    margin-bottom: 10px;
  }
}

.card-title {
  font-size: 18px;
  margin: 0 0 10px 0;
  font-family: sans-serif;
}

.favorite {
  width: 20px;
  cursor: pointer;
}

.card-img {
  height: 220px;
  margin-bottom: 20px;
}