html, body {
    font-family: Verdana, sans-serif;
    background-color: #b4b7ba;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #16a085;
    height: 100px;
    width: 100%;
    transition: all 1s;
    text-align: center;
    font-size: 16px;
    box-sizing: border-box;
    padding-top: 30px;
}

.container h1 {
    margin: 0;
}

.container:hover {
    height: 260px;
    background-color: #bccd95;
    font-size: 26px;
    padding-top: 90px;
}

@keyframes example {
    from {
        background-color: #497DDD;
    }

    to {
        background-color: #EF7D55;
    }
}

.container {
    border: 1px #3d4543 solid;
    width: 400px;
    height: 400px;
    background-color: #FF9933;
    animation-name: example;
    animation-duration: 5s;
}
