body {
    font-family: sans-serif;
    font-size: 20px;
}

.container {
    width: 700px;
    margin: 0 auto;
}

.item-1, .item-2, .item-3, .item-4, .item-5 {

}

.item-1 {
    background-color: lightgrey;
}

.item-1::before {
    content: "♜";
    background-color: grey;
}

/*--------------*/
.item-2 {
    background-color: lightskyblue;
}

.item-2::before {
    content: "♜";
    background-color: blue;
}

/*--------------*/
.item-3 {
    background-color: lightgreen;
}

.item-3::before {
    content: "♜";
    background-color: green;
}

/*--------------*/
.item-4 {

}

.item-4::before {

}

/*--------------*/
.item-5 {

}

.item-5::before {

}