html {
    margin: 20px;
}

body {
    background-color: aliceblue;
    font-family: Verdana, sans-serif;
    font-size: 18px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    background-color: transparent;
    outline: none;
}

#price-input {
    border: 1px solid grey;
    border-radius: 3px;
    height: 20px;
    width: 100px;
}

#button-x {
    visibility: hidden;
    background-color: #fff;
    border: 1px solid #3d4543;
    border-radius: 50%;
    color: #3d4543;
    cursor: pointer;
    height: 20px;
    transition: all 0.1s;
    margin-left: 5px;
    width: 20px;
}

#button-x:hover {
    background-color: #b4b7ba;
}