.header-stat {
  font-size: 18px;
  font-family: sans-serif;
  width: 50%;
  color: #FFFFff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header {
  box-sizing: border-box;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(60, 184, 120);
  height: 50px;
  width: 100%;
  box-shadow: 0 0 10px grey;
}