.modal-window {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 2000px;
  width: 100%;
}

.modal-content {
  color: #FFFFff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #00cbf6;
  top: 15%;
  left: 50%;
  margin-left: -250px;
  position: fixed;
  height: 253px;
  width: 500px;
}

.modal-header {
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  align-items: center;
  background: #D44637;
  justify-content: space-between;
  height: 30%;
  width: 100%;

  .modal-title {
    margin: 0;
  }
}

.modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #E74C3C;
  text-align: center;
  height: 70%;
  width: 100%;

  .modal-text {
    width: 433px;
  }
}

.modal-footer {
  display: flex;
  background: #E74C3C;
  justify-content: center;
  width: 100%;

  .action-btn {
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 17px;
    color: #FFFFff;
    border-radius: 4px;
    height: 42px;
    margin: 0 6px 24px 6px;
    width: 102px;
  }
}

.close {
  display: inline-block;
  position: absolute;
  top: 12px;
  right: 0;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.close:before,
.close:after {
  content: "";
  position: absolute;
  top: 18px;
  left: 7px;
  width: 24px;
  height: 1.5px;
  background: #FFFFff;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}