.header {
  box-sizing: border-box;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(60, 184, 120);
  height: 50px;
  width: 100%;
  box-shadow: 0 0 10px grey;
}

.header-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;

  .menu-link {
    font-size: 19px;
    text-decoration: none;
    position: relative;
    color: white;
  }
}

.header-stat {
  font-size: 17px;
  font-family: sans-serif;
  color: #FFFFff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  width: 44px;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}

.active-link {
  font-size: 23px;
  font-weight: 600;
}

.active-link::before {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: #FFFFff;
}