body {
    font-family: sans-serif;
}

.container {
    width: 900px;
    margin: 0 auto;
    border: 2px solid orange;
}

header, main, footer, aside, section {
border: 2px #6f6f6f solid;
    padding: 5px;
    margin: 5px;
}

section {
    background-color: #bccd95;
}

aside {
    background-color: #937341;
}

.left-aside {
    float: left;
    width: 30%;
}

