body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 1180px;
}

.navbar {
  margin: 0;
  padding: 0;

  .navbar-nav {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    margin: 41px auto;

    .nav-item {

      .nav-link {
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 22px;
        letter-spacing: 1.1px;
        text-transform: uppercase;
        text-decoration: none;
        color: #5C5C5C;
        padding: 0;

        &:hover {
          color: #57A4A4;
        }
      }
    }
  }
}


#menu__toggle {
  opacity: 0;
}

.menu__btn {
  background-color: #000000;
  float: right;
  display: none;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 37px;
  cursor: pointer;
  margin: 25px 0 25px 0;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 17px;
  height: 2px;
  background-color: #ffffff;
}
.menu__btn > span::before {
  content: '';
  top: -6px;
}
.menu__btn > span::after {
  content: '';
  top: 6px;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}
.navbar-nav {
  transition-duration: .25s;
}
.nav-link {
  transition-duration: .25s;
}

.header-img-wrapper {
  text-align: center;

  .header-photo {
    margin-bottom: 66px;
  }
}

.main {
  margin-bottom: 32px;

  .main-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #4E4E4E;
  }
}

.main-flex-container {
  display: flex;
  flex-wrap: wrap;

  .block {
    display: flex;
    align-items: center;
    flex-basis: 590px;
    margin-bottom: 32px;

    .main-photo-1 {
      margin-right: 21px;
    }

    .poster-content-wrapper {
      display: flex;
      flex-direction: column;

      .poster-heading {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 30px;
        color: #4E4E4E;
        margin: 0;
      }

      .poster-comment {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        color: #7C7C7C;
      }

      .poster-content {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 26px;
        color: #5C5C5C;
        margin: 0;
        width: 95%;
      }
    }
  }
}

.footer {
  background: #000000;
  height: 407px;
  width: 100%;

  .footer-heading {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    margin: 0 0 22px 0;
    text-align: center;
    padding-top: 25px;
    color: #FEFEFE;
  }

  .footer-content {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    margin: 0 auto 37px;
    color: #B9B9B9;
  }

  .footer-icons-wrapper {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-bottom: 34px;
  }

  .footer-contacts {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #B9B9B9;
    padding-bottom: 70px;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 768px;
  }

  .header-img-wrapper {

    .header-photo {
      width: 600px;
    }
  }
}

@media (max-width: 768px) {
  .container {
    width: 600px;
  }

  .header-img-wrapper {

    .header-photo {
      width: 600px;
    }
  }

  .menu-icon-wrapper {
    display: flex;
  }

  .menu__btn {
    display: flex;
  }

  .navbar {
    position: relative;

    .navbar-nav {
      display: none;
      background-color: #fff;
      flex-direction: column;
      width: 180px;
      border: 1px solid #000;
      position: absolute;
      top: 21px;
      //left: 378px;
    }
  }

  #menu__toggle:checked ~ .navbar-nav {
    display: flex;
  }
}

@media (max-width: 625px) {
  .container {
    width: 500px;
  }

  .header-img-wrapper {

    .header-photo {
      width: 500px;
    }
  }

  //.navbar-nav {
  //  left: 278px;
  //}
}

@media (max-width: 520px) {
  .container {
    width: 400px;
  }

  .header-img-wrapper {

    .header-photo {
      width: 400px;
    }
  }

  //.navbar-nav {
  //  left: 178px;
  //}

  .main {

    .main-heading {
      font-size: 14px;
    }
  }

  .poster-heading {
    font-size: 14px;
  }

  .poster-comment {
    font-size: 11px;
  }

  .poster-content {
    display: none;
  }

  .footer {

    .footer-heading {
      font-size: 14px;
    }

    .footer-content {
      font-size: 12px;
    }

    .footer-contacts {
      font-size: 14px;
    }
  }
}

@media (max-width: 430px) {
  .container {
    width: 315px;
  }

  .header-img-wrapper {

    .header-photo {
      width: 315px;
    }
  }

  .main-flex-container .block {
    display: block;
  }

  .main-flex-container .block .main-photo-1 {
    margin-bottom: 11px;
  }

  .navbar-nav {
    left: 93px;
  }
}