body {
    font-family: 'Montserrat', sans-serif;
    background-color: #151616;
}

.header {
    height: 575px;
}

.bg-image {
    background-image: url("../img/bg-image.jpg");
    background-position: center;
    position: relative;
    height: 513px;
}


.custom-toggler.navbar-toggler {
    border: none;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url(
    "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(243, 138, 3)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


.nav {
    background-color: #151616;
}

.nav .nav-item .menu-link {
    color: #ffffff;
}

.first-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    box-sizing: border-box;
    height: 110px;
    margin: 12% 0 0 3%;
    width: 257px;
}

.first-wrapper h3 {
    color: #ffffff;
    font-size: 25px;
}

.second-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    box-sizing: border-box;
    height: 36px;
    margin: 4% 0 0 20%;
    width: 131px;
}

.second-wrapper span {
    color: #ffffff;
    font-size: 16px;
    text-decoration: underline;
}

.main .red-block {
    background-color: #ED1260;
    position: absolute;
    bottom: 143px;
    right: 0;
    height: 64px;
    width: 265px;
}

.main .about-p {
    color: #ffffff;
    font-size: 16px;
    margin: 38px auto 60px;
    width: 265px;
}

.icons-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 433px;
}

.block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 130px;
    width: 130px;
    margin-bottom: 30px;
}

.block span {
    color: #ffffff;
    font-size: 14px;
    text-align: center;
}

.block img {
    display: inline-block;
    margin-bottom: 10px;
}

.map {
    padding: 15px;
    border: 5px solid #ED1260;
    margin: 56px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 346px;
}

.map img {
    margin-bottom: 7px;
    width: 314px;
}

.map .map-p {
    margin: 0;
    color: #ffffff;
    font-size: 12px;
}

.footer {
    margin-top: 90px;
}

.footer h3 {
    margin-bottom: 23px;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
}

.footer span {
    font-size: 18px;
    color: #ffffff;
}

.footer p {
    font-size: 18px;
    color: #ffffff;
    display: none;
}

.footer .contact img {
    margin-right: 23px;
}

.contacts-wrapper {
    margin: 0 auto;
}

.wraper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer .contact {
    display: flex;
    align-items: center;
    margin-bottom: 23px;
}

@media (min-width: 890px) {
    .main .about-p {
        width: 615px;
    }

    .map img {
        width: 525px;
    }

    .map {
        width: 579px;
    }

    .icons-wrapper {
        width: 510px;
        margin: 0 auto;
    }

    .contacts-wrapper {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    .contact {
        flex-direction: column;
    }

    .footer p {
        display: inline;
        margin: 0;
    }

    .footer .contact img {
        margin: 0 23px 35px 0;
    }

    .footer h3 {
        margin-bottom: 81px;
    }

}

@media (min-width: 920px) {
    .bg-image {
        margin: 0 auto;
        width: 948px;
    }

    .block {
        margin-right: 40px;
    }

    .icons-wrapper {
        width: 679px;
    }
}

@media (min-width: 1258px) {
    .main .red-block {
        bottom: 223px;
        right: 60px;
        height: 347px;
        width: 107px;
    }

    .second-wrapper {
        margin: 2% 0 0 10%;
    }
}