body {
    background-color: #3d4543;
    color: #fff;
    font-family: Verdana, sans-serif;
}

.test-mouse {
    border: 2px solid #fff;
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px;
    width: 200px;
    transition: all 0.3s;
    text-align: center;
}

.test-mouse:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000;
}

