body {
    font-family: sans-serif;
}

.img {
    width: 150px;
    height: 150px;
}

.float-left {
    float: left;
}

.img-wrapper {
    border: 1px solid #3d4543;
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
}

.float-right {
    float: right;
}

.clear {
    clear: both;
}

footer {
    margin-top: 10px;
    background-color: antiquewhite;
    text-align: center;
}

