body {
    text-align: center;
}

button {
    cursor: pointer;
    outline: none;
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;
}

.card {
    cursor: move;
}

.column {
    border: 2px solid grey;
    border-radius: 5px;
    height: 305px;
    margin-bottom: 20px;
    padding-top: 30px;
    position: relative;
    width: 195px;
}

.column-btn {
    border: 2px solid #1c2a33;
    border-radius: 15px;
    width: 170px;
    height: 30px;
    transition: all 0.2s;
}

.column-btn:hover {
    background: #5b6469;
    color: #ffffff;
}

.card-container {
    padding: 10px;
    height: 240px;
}

.card-btn {
    margin: 0 auto;
    border: 2px solid grey;
    border-radius: 15px;
    width: 170px;
    height: 30px;
    transition: all 0.2s;
}

.card-btn:hover {
    background: #5b6469;
    color: #ffffff;
}

.sort-btn {
    margin-top: 10px;
    position: absolute;
    top: 0;
    left: 7%;
    border: 2px solid grey;
    border-radius: 15px;
    width: 170px;
    height: 30px;
    transition: all 0.2s;
}

.sort-btn:hover {
    background: #5b6469;
    color: #ffffff;
}

input {
    margin: 5px;
}